{% if page.nocomments %}
{% else %}
	{% if site.disqus_shortname %}
	<div class="post-comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = "{{ site.disqus_shortname }}"; // required: replace example with your forum shortname
			(function() {
				var dsq = document.createElement("script"); 
				dsq.type = "text/javascript"; 
				dsq.async = true;
				dsq.src = "https://" + disqus_shortname + ".disqus.com/embed.js";
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
			})();
		</script>
	</div>
	{% endif %}
	{% if site.duoshuo_shortname %}
	<div class="post-comments">
		<!-- 多说评论框 start -->
		<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"></div>
		<!-- 多说评论框 end -->
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		var duoshuoQuery = {short_name:"{{ site.duoshuo_shortname }}"};
			(function() {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';ds.async = true;
				ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0] 
				 || document.getElementsByTagName('body')[0]).appendChild(ds);
			})();
		</script>
		<!-- 多说公共JS代码 end -->
	</div>
	{% endif %}
	{% if site.idcomments_acct %}
	<div class="post-comments">
		<script src="https://www.intensedebate.com/widgets/userComment/19710421" defer="defer" type="text/javascript"></script>
		<script>
			var idcomments_acct = 'f0a7bf6974944a38926567763cc03594';
			var idcomments_post_id;
			var idcomments_post_url;
		</script>
		<span id="IDCommentsPostTitle" style="display:none"></span>
		<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
	</div>
	{% endif %}
{% endif %}