---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">
		{{ page.title }}
	</h1>
    <p class="post-meta">
		{{ page.date | date: "%b %-d, %Y" }}
		{% if page.author %} • {{ page.author }}&nbsp;&nbsp;&nbsp;&nbsp;
		{% endif %}
		{% if page.meta %} • {{ page.meta }}
		{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
		<span id="busuanzi_container_page_pv">阅读量：<span id="busuanzi_value_page_pv"></span>&nbsp;次</span>&nbsp;&nbsp;&nbsp;&nbsp;
		文章中文字数：{{ page.content | strip_html | strip_newlines | remove: " " | size }}&nbsp;&nbsp;&nbsp;&nbsp;
		预计阅读时间：{{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }}&nbsp;分钟	
	</p>
	<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a></div>
	<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["qzone","tsina","tqq","weixin","sqq"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","weixin","sqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  {% include comment.html %}

</div>
